* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 80px;
}

.loader {
    height: 50px;
    width: 50px;
    border: 2px solid rgba(255, 255, 255, 0.185);
    border-top: 2px solid rgba(255, 255, 255, 0.826);
    border-radius: 50%;
    animation: loader 1s ease-in-out 0s infinite;
}

@keyframes loader {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

h1{
    font-size: clamp(1.5rem, 5vw + 1rem, 4rem);
    color: #fff;
}

p{
    text-align: center;
    font-size: clamp(0.5rem, 3vw + 0.5rem, 1.5rem);
    color: white;
}